<a href="https://colab.research.google.com/github/npvietkhoa/NPB-claix-2023/blob/main/rpsy_hw_05_t-test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T-test I

# Exercise 01
Imagine you did the following experiment:
You randomly assigned your fellow students to two groups:
The first group plays a board game called “Siedler von Catan”.
The second group plays a role-play game called “Dungeons and Dragons”.
After playing the students state their fun on a range between 1 and 100.

a) Which test do you have to take to analyze the data?
- T-test - independent test
b) State an undirectional hypothesis for this experiment (null and alternative
hypothesis).
- $H_0$: both group have the same fun level. - Null Hypothesis.
- $H_1$: groups don't have same fun level. - Alternative Hypothesis.
c) State a directional hypothesis for this experiment (null and alternative
hypothesis).
- $H_0$: both group have the same fun level. - Null Hypothesis.
- $H_1$: Group plays “Siedler von Catan” has more fun than the other.

d) Pick one of the hypotheses and do a t-test. Do as following: Open the Excel file `05_Homework_Data.xlsx` with R. It contains the satisfaction level of the students split in the two game groups.

In [16]:
library(readxl)

In [17]:
df <- read_excel("rpsy_dataset_05_t-test.xlsx")

In [18]:
head(df)

  dnd-players Siedler-players
1 48          46
2 36          51
3 34          57
4 60          44
5 67          78
6 59          46

a) State which hypothesis you picked.

In [19]:
indep_test <- t.test(df$`dnd-players`, df$`Siedler-players`)

In [20]:
indep_test

	Welch Two Sample t-test

data:  df$`dnd-players` and df$`Siedler-players`
t = 2.3756, df = 97.758, p-value = 0.01947
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  1.185253 13.214747
sample estimates:
mean of x mean of y
    56.52     49.32

b) Calculate the empirical t-value. Write your answer here with degrees of
freedom.

In [21]:
t_val <- indep_test$statistic[[1]]
degree <- indep_test$parameter[[1]]
c(t_val, degree)

[1]  2.375596 97.758061

In [22]:
r <- sqrt(t_val^2/(t_val^2+degree))

In [23]:
r

[1] 0.2336195

c) Draw a conclusion about your hypothesis.
- Null Hypothesis is rejected because of high p-value. There is the difference between fun level of groups play two games.

##Exercise 02:
There are two other t-tests which you got to know in the seminar.

a) Name them.
- Paired-samples test and One sample test

b) In a few sentences, describe an experiment in which one of the t-tests from
question 2a can be used.

- *Paired-samples test*: use for related samples or relationship (pre-post, twins, etc.). E.g. blood sugar level of patients before and after meal.
- *One sample test*: Compare sample mean with known or hypothesized mean of population. E.g. Is the average weight of a group of elementary school students the same as the average weight of elementary school students nationwide?

c) Imagine you conduct the experiment you just described with n = 50.

a. State a hypothesis for this experiment (either directional or undirectional).
Which did you pick?
- $H_0$: blood sugar level of patients before and after meal has no change.
- $H_1$ (alternative): blood sugar level of patients before and after meal has changes.

b. Find the critical t-value for your hypothesis by using the t-table.
- *df* = n - 1 = 50 - 1 = 49
- undirectional $→$ t = 2.00958

c. Imagine your empirical t-value is $t_{\text{temp}}$= 3.5. Comparing to your critical t-value what can you conclude for your hypothesis?
- $t_{\text{crit}} < t_{\text{temp}} \Rightarrow$ significant different $→$ Null Hypothesis is rejected.